# exclude everything from results
__pycache__/
UsersReplies/*
ACA/Data/Result/*
ACA/Data/Rules/brain.dump

# exception to the rule
!UsersReplies/.gitkeep
!ACA/Data/Result/.gitkeep

# ignore all logs
*.log