# exclude everything from results
ACA/Data/Result/*
!ACA/Data/Result
__pycache__/*
ACA/chatbot/__pycache__/*
EC_Module/__pycache__/*
!__pycache__
!ACA/chatbot/__pycache__
!EC_Module/__pycache__
UsersReplies/*